
.jumbotron {
  background-color: #6898f1; /* Orange */
  color: #ffffff;
}

.bg-grey {
    background-color: #acacac;
  }

.bg-greenish{
  background-color: rgb(44, 106, 31);
  color: #ffffffee;
}

.bg-orange{
  background-color: #ED7D31;
}

.text-white{
  color: #ffffff;
}