<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Something went wrong</title>
       <link rel="stylesheet" th:href="@{/DefaultStyle.css}">
    </head>
    <body class="bg-greenish">
        <th:block th:switch="${loginStatus}">
            <th:block th:case="'out'">
                <div th:replace="~{fragments/navbarfragment :: navbarOut}"></div>
            </th:block>
            <th:block th:case="'in'">
                <div th:replace="~{fragments/navbarfragment :: navbarIn}"></div>
            </th:block>
        </th:block>
        <h1>
            Something went wrong with our app! We're very sorry.
        </h1><br>
        <h1 th:text="|Status: ${status}|"></h1><br>
        <p th:text="|Message: ${message}|"></p>
        <a href="/">Return to Index</a>
    </body>
</html>